.top_search {
  padding-left: 10rem;
  .logo {
    cursor: pointer;
    width: 16rem;
    // height: 10rem;
  }
  .logo_title{
    // float: left;
    margin: 5px 0 0 25px;
    font: 400 18px arial;
    // color: #666;
    color: #9f224e;
    font-weight: bold;
    font-family: "Merriweather",serif;
  }
}
