.register_realty {
  padding: 2rem;
  .register_realty_button{
    background-color: #FF8C00;
    width: 10rem;
    height: 2.5rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    margin: auto;
  }
  .register_realty_random{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    margin: auto;
    .random{
      width: 8rem;
      height: 8rem;
      border-radius: .5rem;
      background-color: #A9A9A9;
      color: #FFFFFF;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .random:hover{
      background-color: #DCDCDC;
      color: black;
    }
    .random_beautiful{
      width: 8rem;
      height: 8rem;
      border-radius: .5rem;
      background-color: #A9A9A9;
      color: #FFFFFF;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .random_beautiful:hover{
      background-color: #DCDCDC;
      color: black;
    }
    .random_vip{
      width: 8rem;
      height: 8rem;
      border-radius: .5rem;
      background-color: #A9A9A9;
      color: #FFFFFF;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .random_vip:hover{
      background-color: #DCDCDC;
      color: black;
    }

  }
  .register_realty_sub-title{
    display: flex;
    background: #808080;
    height: 7rem;
    width: 30rem;
    border-radius: 1rem;
    margin: auto;
    padding: .75rem;
    .area{
      background: #FF8C00;
      width: 7rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: .5rem;
      color: black;
      font-weight: 700;
      margin-right: .775rem;
    }
    .road_or_project{
      width: calc(100% -7rem);
      .top_line{
        display: flex;
        // width: calc(100% -7rem);
        .road{
          width: 10rem;
          height: 2.5rem;
          background: #add8e6;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          border-radius: .5rem;
          cursor: pointer;
        }
        .road:active, .road:hover{
          background:#63b5cf;
        }
        .project{
          width: 10rem;
          height: 2.5rem;
          background: #cc919a;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: .5rem;
          cursor: pointer;
        }
        .project:hover{
          background: #b27f87;
        }
      }

      .bottom_line{
        margin-top: .5rem;
      }
      
    }
  }
  .register_realty_function{
    display: flex;
    justify-content: space-between;
    .item{
      width: 13rem;
      height: 3rem;
      background-color: #A9A9A9;
      color: #FFFFFF;
      border-radius: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .item:hover{
      background: #808080;
    }
  }
  .register_realty_info{
    width: 15rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECF3FF;
    color: hsl(214, 89%, 52%);
    margin: auto;
    font-weight: 600;
    font-family: inherit;
    border-radius: .5rem;

  }
}
.link{
  .title_link{
    font-weight: 600;
    color: #050505;
  }
  .link_social{
    margin-top: 10px;
    display: flex;
    cursor: pointer;
    .image_plus{
      width: 24px;
      height:24px;
      margin-right: 13px;
    }
    .title{
      font-family: inherit;
      color: hsl(214, 89%, 52%);
      font-size: .9375rem;
    }
  }
}

.show-social{
  display: flex;
  align-items: stretch;
  //width: 100%;
}

.show_web {
  display: flex;
  .action{
    display: flex;
    height: 2.375rem;
    align-items: center;
    align-items: center;
  }
}

.image_plus{
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 .625rem;
  cursor: pointer;
}
.image_plus:hover{
  transform: rotate(360deg);

}

.background-road{
  background: #add8e6;
}

.background-project{
  background: #cc919a;
}



