<div class="register_realty">
  <div class="register_realty_button">Đăng ký ô BĐS</div>
  <div class="register_realty_random mt-3">
    <div class="random mx-4">Ngẫu nhiên</div>
    <div class="random_beautiful mx-4">Số đẹp</div>
    <div class="random_vip mx-4">Số Vip</div>
  </div>
  <div class="register_realty_sub-title mt-3">
    <div class="area">Khu vực</div>
    <div class="road_or_project">
      <div class="top_line">
        <div class="road" (click)="setClassForInput(1)">
          Cung đường
        </div>
        <div class="project" (click)="setClassForInput(2)">
          Dự án
        </div>
      </div>
      <div class="bottom_line">
        <input type="text" class="form-control" [ngClass]="classInput">
      </div>

    </div>

  </div>
  <div class="register_realty_function mt-4">
    <div class="item">Tính năng lượn phố</div>
    <div class="item">Bất động sản kinh doanh</div>
    <div class="item">Bất động sản cần bán</div>
    <div class="item">Bất động sản cho thuê</div>
    <div class="item">Đăng ký làm chuyên gia</div>
  </div>
  <div class="register_realty_info mt-3">Thông tin cơ bản</div>
  <div class="form mt-3" style="width: 50%; margin: auto">
    <form action="">
      <div class="input-group mb-2">
        <span class="input-group-text" id="name" style="width: 25%">Tên hiển thị</span>
        <input type="text" class="form-control" id="basic-url-1" aria-describedby="basic-addon3"
          placeholder="Nhập tên hiển thị" />
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text" id="phone-number" style="width: 25%">Số điện thoại</span>
        <input type="text" class="form-control" id="basic-url-2" aria-describedby="basic-addon3"
          placeholder="Nhập số điện thoại" />
      </div>
      <div class="link">
        <div class="title_link">Các trang web và liên kết xã hội</div>
        <div class="link_social" (click)="showWeb()">
          <img src="./assets/images/plus.svg" alt="" class="image_plus" />
          <div class="title">Thêm một trang web</div>
        </div>
        <input type="text" class="form-control my-2" placeholder="Địa chỉ trang web" aria-label="Username"
          aria-describedby="basic-addon1" />
        <div class="link_social" (click)="showSocialNetwork()">
          <img src="./assets/images/plus.svg" alt="" class="image_plus" />
          <div class="title">Thêm liên kết xã hội</div>
        </div>
        <div class="show-social">
          <select class="form-select form-select my-2" aria-label=".form-select-lg example"
            style="width: 25%; flex-grow: 2.5">
            <option selected>Instagram</option>
            <option value="1">Tiktok</option>
            <option value="2">Twitter</option>
            <option value="3">Gmail</option>
          </select>
          <div class="input" style="display: flex; flex-grow: 7.5">
            <input type="email" class="form-control my-2" id="exampleFormControlInput1" placeholder="" />
          </div>

        </div>
        <div class="form-group my-3" style="margin: auto">
          <button type="button" class="btn btn-primary">Hoàn tất</button>
        </div>
      </div>
    </form>
  </div>
</div>